@import 'Animation';

a {
  font-weight: 700;
  color: #97d4ff;
  text-decoration: none !important;
  cursor: pointer;
}

.App {
  font-family: Avenir,Helvetica,Arial,sans-serif;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eaeaea;
  overflow: hidden;
}

.App-header {
  height: 10vh;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  nav {
    a {
      margin-right: 10px;
      &.active {
        color: #97d4ff;
        border-bottom: 1px solid #97d4ff;
      }
    }
  }
}

$break-sm: 360px;
$break-md: 450px;
$break-lg: 570px;

.App-main {
  min-height: 90vh;
  width: 95vw;
  padding-bottom: 4vmin;

  .App-Loader {}

  .App-LoadMore {}

  .Categories-list {
    min-height: 10vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 3vh;
    @media screen and (min-width: $break-lg) { margin-bottom: unset; }
    .Category {
      min-width: 12vw;
      padding: 5px 0;
      width: 50%;
      @media screen and (min-width: $break-sm) { width: 33%; }
      @media screen and (min-width: $break-md) { width: 25%; }
      @media screen and (min-width: $break-lg) { width: auto; }
      button {
        color: #eaeaea;
        border: 1px solid #eaeaea;
        background: transparent;
        border-radius: 3px;
        padding: 0 10px;
        outline: 0 !important;
        cursor: pointer;
        font-size: 1rem;
        text-transform: capitalize;
        &.active {
          color: #282c34;
          background: #eaeaea;
        }
      }
    }
  }

  .Cards-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .Card {
      margin-bottom: 6vmin;
      opacity: .1;

      a {
        position: relative;
        display: block;
      }

      .Card-image {
        background-position: center center;
        background-size: cover;
        width: 40vmin;
        height: 40vmin;
        border-radius: 3px;
        box-shadow: 2px 1px 15px -5px rgba(0, 0, 0, 0.62);
      }

      .Card-caption {
        position: absolute;
        width: 40vmin;
        background-color: rgba(255, 255, 255, .75);
        color: initial;
        bottom: 0;
        display: flex;
        flex-direction: row;
        padding: 0 1vmin;
        align-items: center;
      }

      .Card-caption p {
        margin: 0;
        align-self: self-start;
        flex-grow: 2;
        text-align: left;
      }

      .Card-caption .flag {
        min-width: 1.333333em;
      }
    }
  }
}